<%= form_with(model: [ @cat,@cat.toys.build ], local:true) do |form|%>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
  
    <%= form.label :ttype %><br>
    <%= form.text_field:ttype%>
  </p>
 
 
  <p>
   <a href="/"><input type="button" name="back"  value="Back"></a> <%= form.submit %>
  </p>
 
<% end %>