<!DOCTYPE html>
<html>
  <head>
    <title>CatsAPI</title>
   
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://guides.rubyonrails.org/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/header' %>
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
    
<footer class="text-center"><a href="https://github.com/rizikolik">&copy; rizikolik</a></footer>

  </body>
</html>
